*{  box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(158, 158, 158);
    font-family: fantasy;
}
#pesquisa{
    background-color: rgb(27, 27, 27);
    padding: 1%;
    display: flex;
}
#pesquisa div {
    margin-left: auto;
}

/* CABEÇA DA PAGINA */

header {
    background-color: rgb(51, 51, 51);
}

header div{
display:flex;
justify-content: space-between;
align-items: center;
}

header div img{
    width: 5vw;
    height: 10vh; 
    margin: 0px 0px 0px 2%;
}

header div nav ul{
    list-style: none;
    display: flex;

}

header li{
    margin: 0 3vw 0 5vw;
}

header li a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-weight: 900;
}

header li a:hover{
    text-decoration: underline;
    color: rgb(180, 164, 47);
}

/* MEIO DA PAGINA */

.foto {
    background-image: url(imagens/3810369.jpg);
    background-size: cover;
    background-position:center ;
    width: 100vw;
    height: 60vh;
    font-size: 2vw;
    color: rgb(212, 144, 41);
}

.foto div {
    width: 60vw;
    height: 10vh;
    padding: 3vw 40vh;

}
.foto div p{
    font-size: 3vw;
    margin-bottom: 10%;
}

.foto div h1{
    color: rgb(212, 144, 41);
}

.foto div a{
    color: aliceblue;
    background-color: rgb(6, 5, 48);
    padding: 4%;
    border-radius: 10%;
    text-decoration: none;
}

.foto div a:hover{
    text-decoration: underline;
    background-color: aquamarine;
    color: black;
}


/* RODAPE */
footer {
    background-color: rgb(21, 21, 21);
    padding: 3%;
    color: rgb(159, 161, 163);
}
    
footer div {
    display: flex;
    justify-content: center;
}

footer div img{
    width: 5vw;
    height: 10vh; 
    margin: 0px 0px 0px 2%;
}

footer div p{
    font-size:small;
}